body {
    font-family: 'MSBee-Regular';
    width: 60%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 780px;
    margin-top: 20px;
    padding-left: 1%;
}

.asset-card {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    text-decoration: none;
    color: black;
    width: 12em;
}

.card-contents {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.asset_img_container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-info {
    font-size: 14px;
    text-align: start;
    padding: 5%;
}

.card-value {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.eth-val {
    margin-top: 2px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.dollar-val {
    color: #ABABAB;
}

.tokens-container {
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.nfts-container {
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.nfts-container-header {
    display: flex;
}

.header-text {
    display: flex;
    padding-left: 20px;
    padding-top: 18px;
}

.nfts-text {
    font-size: 30px;
    font-family: 'MSBee-Black';
    margin-top: auto;
    margin-bottom: auto;
}

.wallet-address {
    color: #ABABAB;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'MSBee-Bold';
    margin-top: auto;
    margin-bottom: auto;
}

.nft-stats-container-1 {
    display: flex;
    width: 65%;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.stat-box {
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'MonoRegular';
    border-radius: 6px;
    background-color: #E5E5E5;
    font-size: 14px;
    margin-right: 6%;
    display: flex;
    align-items: center;
}

.stat-image {
    font-size: 16px;
    margin-right: 10px;
}

.nft-stats-container-2 {
    display: flex;
    justify-content: end;
    width: 30%;
}

.filter-container {
    width: 30%;
    padding: 4px;
    font-family: 'MonoRegular';
    border-radius: 6px;
    background-color: #E5E5E5;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 14px;
    margin-right: 6%;
    display: flex;
    align-items: center;
}

.filter-single {
    width: 50%;
    height: 16px;
    padding: 12px;
}

.filter-collection {
    width: 50%;
    height: 16px;
    padding: 12px;
}

.filter-single:hover {
    opacity: 0.5;
    background-color:white;
    cursor: pointer;
}

.filter-collection:hover {
    opacity: 0.5;
    background-color:white;
    cursor: pointer;
}

@font-face {
    font-family: 'MonoMedium';
    src: local('MonoMedium'), url(./fonts/MonoMedium.woff2) format('woff2');
}

@font-face {
    font-family: 'MonoRegular';
    src: local('MonoRegular'), url(./fonts/MonoRegular.woff2) format('woff2');
}

@font-face {
    font-family: 'MSBee-Black';
    src: local('MSBee-Black'), url(./fonts/MSBee-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'MSBee-Bold';
    src: local('MSBee-Bold'), url(./fonts/MSBee-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'MSBee-Regular';
    src: local('MSBee-Regular'), url(./fonts/MSBee-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'MSBee-Thin';
    src: local('MSBee-Thin'), url(./fonts/MSBee-Thin.woff2) format('woff2');
}