body {
    text-align: center;
}

.slide-one-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.text-container {
    width: 65%;
    text-align: start;
}

.header {
    font-size: 60px;
    font-family: 'MSBee-Bold';
}

.sub-header {
    font-size: 50px;
    font-family: 'MSBee-Regular';
    font-style: bold;
    line-height: 90%;
    margin-bottom: 2px;
}

.description {
    font-size: 18px;
    font-family: 'MSBee-Regular';
    width: 70%;
}

.button {
    font-family: 'MSBee-Regular';
    margin-top: 20px;
    font-size: 14px;
}

.eth {
    text-decoration: none;
    color: black;
    background-color: #E5E5E5;
    padding: 16px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.eth:hover {
    background-color: rgb(236, 236, 236);
    transition: 0.3s;
}

.port-img {
    width: 35%;
    height: 35%;
}

@font-face {
    font-family: 'MSBee-Bold';
    src: local('MSBee-Bold'), url(./fonts/MSBee-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'MSBee-Regular';
    src: local('MSBee-Regular'), url(./fonts/MSBee-Regular.woff2) format('woff2');
}