body {
    font-family: Lato, Helvetica, Arial, sans-serif;
  }

.card-container {
    background-color: grey;
    display: flex;
}

.asset-card {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card-contents {
    background-color: white;
}

.asset_img_container {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.asset-name {
    font-size: .9rem;
}